<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .project_btn{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
  </head>
  <body>

    <h1 style="text-align: center;">Raw Materials</h1><br>

    <div class="project_btn">
        <a href="Addproject" id="markAttendanceBtn" class="btn btn-success">Add Raw Materials</a>
    </div>
    
    {% for i in rawmaterial %}
    <div class="card" style="width: 18rem;">
        <img src="{{i.rawmaterial_image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#" class="btn btn-primary">Details</a>
          <h5 class="card-title" style="text-align: center; ">{{i.rawmaterial_name}}</h5>
        </div>
      </div>
      {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>