<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in messages %}
        <p style="color: green;">{{i}}</p>
    {% endfor %}
    <h1 style="text-align: center;">Application For Leave</h1>
    <br>
    <form action="Applicationforleave" method="post">
        {% csrf_token %}
        <input type="text" name="empname" placeholder="Employee Name">
        <input type="text" name="reason" placeholder="Reason">
        <input type="submit">
    </form>
</body>
</html>