<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in messages %}
        <p style="text-align:center;">{{i}}</p>
    {% endfor %}
    <h3 class="reghead">Register</h3>
    <form method="post" action="Register">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter your Username" required><br>
        <input type="email" name="email" placeholder="Enter Your Email" required><br>
        <input type="password" name="password" placeholder="Enter your password" required><br>
        <input type="password" name="confirm_password" placeholder="confirm password" required><br><br>
        <input type="submit" name="submit" class="btn btn-outline-success">
    </form>
    <a href="/">Login</a>

</body>
</html>